body {
    background-color: #f4f6f9;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Navbar styling */
.navbar {
    background-color: #007bff;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-link {
    color: white;
    font-size: 1.1rem;
    margin-left: 15px;
    text-decoration: none;
}
.navbar .nav-link:hover{
    font-weight: bolder;
}

.navbar .navbar-brand img {
    height: 50px;
}

/* Contact Us page styling */
.contact-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.contact-container h1 {
    color: #007bff;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
}

.contact-container p {
    font-size: 1.2rem;
    color: #6c757d;
    text-align: center;
    margin-bottom: 30px;
}

.contact-form .form-group {
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 1.1rem;
    font-weight: bold;
    color: #343a40;
    display: block;
    margin-bottom: 8px;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 1rem;
}

.contact-form textarea {
    resize: vertical;
}

.btn-submit {
    background-color: #007bff;
    color: white;
    font-size: 1.1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
}

.btn-submit:hover {
    background-color: #0056b3;
}

.footer {
    text-align: center; 
    padding: 10px 0; 
    background-color: rgba(0, 0, 0, 0.9); 
    color: white;
    position: relative; 
    margin-top: auto;
}