body {
    background-image: url('body-img.png');
    background-size: cover;
    background-position: center;    
    height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(2px);
    justify-content: space-between; 
}

.navbar {
    background-color: rgba(52, 152, 219, 0.8); 
}

.navbar-brand img {
    width: 50px; 
}

.navbar-nav .nav-link {
    color: white !important; 
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    color: white !important; 
    font-weight: bolder;
}

.content {
    padding: 100px 20px; /* Space below the navbar */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    border-radius: 10px;
    flex-grow: 1; /* This allows content to expand and push the footer down */
}

h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.images img {
    width: 180px;
    height: 170px; /* Image size */
    margin: 10px;
    border-radius: 10px;
}

.footer {
    text-align: center;
    padding: 10px 0; /* Padding for the footer */
    background-color: rgba(0, 0, 0, 0.8); /* Footer background */
    color: white;
}
